/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	
	/*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  /** Global styles for each section **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		width: 100vw;
		height: 100vh;
		position: relative;

		.services-description {

			padding: 3rem 2rem 0;

			p {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			p:nth-child(5) { margin: 0 }

			h4 {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			h2 {
				@include font(1.1rem, inherit, 400);
				margin-bottom: 1rem;
			}
		}
	}

	/* Boxing area */
	#boxing-area {
		padding: 5rem 0 2rem;

		.services-description {

			padding: 1rem 2rem;

			p {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			p:nth-child(5) { margin: 0 }

			h4 {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			h2 {
				@include font(1.1rem, inherit, 400);
				margin-bottom: 1rem;
			}
		}
	}

	/** Services page arrows **/
	.service-down-arrow, .service-up-arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1.3rem;
	}

	.service-up-arrow { top: 50px }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  /** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 2rem 0;
		height: 50vh;
		
		.services-description {
			width: 80%;

			h2 { font-size: 1.3rem }

			h4 { font-size: .8rem }

			p { font-size: .8rem }
		}

		.services-description::after, .services-description::before { display: none }
	}

	/** Services page arrows **/
	.service-down-arrow, .service-up-arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1rem;
		width: 30px;
		height: 30px;
	}

	.service-up-arrow { top: 0 }
	.service-down-arrow { bottom: 0 }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	

  /*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  /** Global styles for each section **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		width: 100vw;
		height: 70vh;
		position: relative;

		.services-description {
			padding: 0 2rem;

			p {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			p:nth-child(5) { margin: 0 }

			h4 {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			h2 {
				@include font(1.1rem, inherit, 400);
				margin-bottom: 1rem;
			}
		}
	}

	/* Boxing area */
	#boxing-area {
		padding: 5rem 0 2rem;

		.services-description {
			padding: 1rem 2rem;

			p {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			p:nth-child(5) { margin: 0 }

			h4 {
				font-size: .9rem;
				margin-bottom: 1rem;
			}

			h2 {
				@include font(1.1rem, inherit, 400);
				margin-bottom: 1rem;
			}
		}

		.service-down-arrow { bottom: 10px }
		.service-up-arrow { top: 10px }
	}

	/** Services page arrows **/
	.service-down-arrow, .service-up-arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1.3rem;
	}

	.service-down-arrow { bottom: 40px }
	.service-up-arrow { top: 50px }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
	#services-showcase {

		.services-list {
			@include flex(column, center, center);
			margin-top: 3rem;
	
			ul:first-child {
				width: 50%;
				margin-bottom: 2rem;
			}
	
			ul {
				text-align: center;

				li { @include font(1rem, inherit, 500) }
	
				li:nth-child(odd) { color: $green-eton }
			}
		}
	}

	.program {
		@include flex(column, center, center);

		h3 { font-size: 1rem }

		.program-box {
			@include flex(row, space-between, center);
			position: relative;
			font-size: 1rem;
			
			ul {
				position: relative;
				margin-left: 1rem;
				padding-top: 1rem;
			}

			ul::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 3px;
				width: 50%;
				background: $dark-primary	;
			}
		}
	}

	/** Global styles for each section **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		width: 100vw;
		height: 100%;
		position: relative;

		.services-description {
			padding: 2rem;

			p {
				font-size: .7rem;
				margin-bottom: 1rem;
			}

			p:nth-child(5) { margin: 0 }

			h4 {
				font-size: .7rem;
				margin-bottom: 1rem;
			}

			h2 {
				@include font(1rem, inherit, 400);
				margin-bottom: 1rem;
				text-align: center;
			}
		}
	}

	.parallax-image { background-attachment: scroll !important }

	/** Services page arrows **/
	.service-down-arrow, .service-up-arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1.3rem;
	}

	.service-down-arrow {
		bottom: -10px; 
		font-size: 1rem;
	}

	.service-up-arrow {
		top: -10px; 
		font-size: 1rem;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	
	.parallax-image { background-attachment: scroll !important }

	.section-header h1 { font-size: 1.5rem }

	#services-showcase {

		.services-list {
			@include flex(column, flex-start, center);
			
			ul:first-child {
				width: 100%;
				margin-bottom: 1rem;
			}

			ul {
				width: 100%;
				text-align: center;

				li { @include font(1rem, inherit, 500) }
			}
		}
	}

	.program {

		h3 { font-size: 1.3rem }

		.program-box {

			ul { font-size: 1rem }
		}
	}

	/** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 2rem 0;
		
		.services-description {
			width: 80%;

			h2 { font-size: 1.3rem }

			h4 { font-size: .8rem }

			p { font-size: .8rem }
		}

		.services-description::after, .services-description::before { display: none }
	}

	/** Services page arrows **/
	.service-down-arrow, .service-up-arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1rem;
		width: 30px;
		height: 30px;
	}

	.service-up-arrow { top: 0 }
	.service-down-arrow { bottom: 0 }
}

/*** Iphone && Pixel 2XL - portrait ***/
@media screen and (min-width: 812px) and (max-width: 824px) and (orientation: portrait) {

	.parallax-image { background-attachment: scroll !important }

	.section-header h1 { font-size: 1.5rem }

	#services-showcase {

		.services-list {
			@include flex(column, flex-start, center);
			
			ul:first-child {
				width: 100%;
				margin-bottom: 1rem;
			}

			ul {
				width: 100%;
				text-align: center;

				li { @include font(1rem, inherit, 500) }
			}
		}
	}

	.program {

		h3 { font-size: 1.3rem }

		.program-box {
			
			ul { font-size: 1rem }
		}
	}

	/** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 2rem 0;
		height: 100vh;
		
		.services-description {
			width: 80%;

			h2 { font-size: 1.3rem }

			h4 { font-size: .8rem }

			p { font-size: .8rem }
		}

		.services-description::after, .services-description::before { display: none }
	}

	/** Services page arrows **/
	.service-down-arrow, .service-up-arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1rem;
		width: 30px;
		height: 30px;
	}

	.service-up-arrow { top: 0 }
	.service-down-arrow { bottom: -20px }
}

/** Iphone SE - portrait **/
@media (max-width: 320px) and (orientation: portrait) {
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		padding: 0;
	
		.services-description {
			width: 100%;
			height: 100%;
			padding: 0 1rem;

			h2, h4, p { margin-bottom: .5rem }
		}
	}

	.service-down-arrow, .service-up-arrow { margin: 0 }

	.service-up-arrow,
	#boxing-area .service-up-arrow { top: 50px }
	
	.service-down-arrow { bottom: 0 }
}