/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
	
	/*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  #pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
	
		.services-content {
			width: 35%;
	
			.services-description {

				h2, p, h4 { margin-bottom: 1rem }

				h2 { @include font(1.5rem, inherit, 400) }
			}
		}
	}

	.service-up-arrow, .service-down-arrow { font-size: 1.5rem }
	.service-up-arrow { top: 5% }
}

/* iPad Pro - Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

	/** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 2rem 0;
		height: 50vh;

		.services-content {
			width: 50%;

			&::after {  display: none }
		}
	}

	.service-up-arrow, .service-down-arrow { font-size: 1.5rem }
	.service-up-arrow { top: 0 }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  /** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 2rem 0;
		height: 70vh;

		.services-content {
			width: 80%;
			height: 80%;

			.services-description {

				h2, p, h4 { margin-bottom: 1rem }

				h2 { @include font(1.5rem, inherit, 400) }
			}

			&::after {  display: none }
		}
	}

	.service-up-arrow, .service-down-arrow { font-size: 1.5rem }

	.service-up-arrow { top: 0 }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  /*** Services showcase ***/
	#services-showcase {

		.services-list ul li { @include font(1rem, inherit, 500) }

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program { font-size: 1rem }
	}

  /** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 2rem 0;
		height: 70vh;

		.services-content {
			width: 80%;
			height: 100%;

			&::after {  display: none }
		}
	}

	.service-up-arrow { top: 0 }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  .services-page-spacing { padding: 2rem 0 0 }
  
  /*** Services showcase ***/
	#services-showcase {

		.section-header { margin-bottom: 2rem }

		.services-list {
			margin: 0;

			@include flex(column, center, center);

			ul {
				width: 100% !important;
				text-align: center;
				margin: 1rem 0;
			}

			ul li { @include font(1rem, inherit, 500) }
		}

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program {
			font-size: 1rem;
			margin: 2rem 0 1rem;
		}
	}

  /** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 0;
		height: 120vh;

		.services-content {
			width: 100%;
			height: 100%;

			.services-description {

				h2, p, h4 {
					margin-bottom: 1rem;
					font-size: 1rem;
				}

				h2 { @include font(1.5rem, inherit, 400) }
			}

			&::after {  display: none }
		}
	}

	.service-up-arrow, .service-down-arrow { font-size: 1.2rem }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

	.services-page-spacing { padding: 2rem 0 0 }
  
  /*** Services showcase ***/
	#services-showcase {

		.section-header { margin-bottom: 2rem }

		.services-list {
			margin: 0;

			@include flex(column, center, center);

			ul {
				width: 100% !important;
				text-align: center;
				margin: 1rem 0;
			}

			ul li { @include font(1rem, inherit, 500) }
		}

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program {
			font-size: 1rem;
			margin: 2rem 0 1rem;
		}
	}

  /** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 0;
		height: 100vh;

		.services-content {
			width: 100%;
			height: 100%;

			.services-description {

				h2, p, h4 {
					margin-bottom: 1rem;
					font-size: 1rem;
				}

				h2 { @include font(1.5rem, inherit, 400) }
			}

			&::after {  display: none }
		}
	}

	.service-up-arrow, .service-down-arrow { font-size: 1.2rem }

	.service-up-arrow { top: 5% }
}

/* Iphone SE - portrait */
@media (max-width: 320px) and (orientation: portrait) {

	.section-header h1 { font-size: 1.4rem }

	.service-up-arrow, .service-down-arrow { font-size: 1rem }

	#services-showcase > a { font-size: 1.2rem }

	/** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {

		.services-content {

			.services-description {

				h2, p, h4 {
					margin-bottom: .85rem;
					font-size: .85rem;
				}

				h2 { @include font(1.2rem, inherit, 400) }
			}

			&::after {  display: none }
		}
	}
}

/* Iphone SE - landscape */
@media (max-width: 568px) and (orientation: landscape) {

	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area { height: 150vh }

	.service-up-arrow { top: 0 }

}

@media only screen and (min-width : 812px) and (max-width : 823px) and (orientation: landscape) {

	.services-page-spacing { padding: 2rem 0 0 }
  
  /*** Services showcase ***/
	#services-showcase {

		.section-header { margin-bottom: 2rem }

		.services-list {
			margin: 0;

			@include flex(column, center, center);

			ul {
				width: 100% !important;
				text-align: center;
				margin: 1rem 0;
			}

			ul li { @include font(1rem, inherit, 500) }
		}

		& > a {
			bottom: 0px;
			font-size: 1.5rem;
		}

		.program {
			font-size: 1rem;
			margin: 2rem 0 1rem;
		}
	}

  /** Services sections **/
	#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
		@include flex(column, center, center);
		padding: 0;
		height: 120vh;

		.services-content {
			width: 100%;
			height: 100%;

			.services-description {

				h2, p, h4 {
					margin-bottom: 1rem;
					font-size: 1rem;
				}

				h2 { @include font(1.5rem, inherit, 400) }
			}

			&::after {  display: none }
		}
	}

	.service-up-arrow, .service-down-arrow { font-size: 1.2rem }
}