/** Global styles for each section **/
#pool-area, #equipment-area, #boxing-area, #trainer-area, #dancing-area {
	width: 100vw;
	height: 100vh;
	position: relative;

	.services-content {
		background: $dark-primary;
		width: 30%;
		height: 100%;
		color: $white;
		padding: 1rem 2rem;
		position: relative;
		z-index: 1;
		@include flex(column, center, center);

		.services-description h2 { @include font(2rem, inherit, 400) }

		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 5px;
			height: 100%;
		}
	}
}

#pool-area .services-content::after, #trainer-area .services-content::after { right: 0 }

#equipment-area .services-content::after, #dancing-area .services-content::after { left: 0 }

/** Services page arrows **/
.service-down-arrow, .service-up-arrow {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
}

.service-up-arrow { top: 7% }
.service-down-arrow { bottom: 0 }

/*** Pool Area ***/
#pool-area {
	background: url('../imgs/pool-gym.jpg') no-repeat center/cover;
	@include flex(column, center, flex-start);

	.services-content::after { background: #BD67F0 }
}

/*** Modern Equipment Area ***/
#equipment-area {
	background: url('../imgs/gym-equipment.jpg') no-repeat center/cover;
	@include flex(column, center, flex-end);
	
	.services-content::after { background: $yellow-main }
}

/*** Boxing Classes Area ***/
#boxing-area {
	background: url('../imgs/box-classes.jpg') no-repeat center/cover;
	@include flex(column, center, center);
	
	.services-content {
		height: 100%;
		padding: 2rem;
	}

	.service-up-arrow { top: 8% }
	.service-down-arrow { bottom: 3% }
}

/*** Personal Trainer Area ***/
#trainer-area {
	background: url('../imgs/personal-trainer.jpg') no-repeat center/cover;
	@include flex(column, center, flex-start);

	.services-content::after { background: $times-red }
}

/*** Dancing Area ***/
#dancing-area {
	background: url('../imgs/dancing-exercises.jpg') no-repeat center/cover;
	@include flex(column, center, flex-end);
	
	.services-content::after { background: $blue-air }
}