/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 768px) and (max-width: 1280px) {
  
  #contact-form {

		.contact-container {
			padding: 2rem;
			@include grid(repeat(2, 1fr), 5rem);
			align-items: center;
		}

		.contact-content {
			grid-row: 2;
			grid-column: 1;
			width: 100%;
			text-align: center;
		}

		.contact-address {
			text-align: center;
			grid-column: 2 / -1;
		}
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	
	#contact-form {

		.contact-container {
			padding: 2rem;
			@include grid(repeat(2, 1fr), 5rem);
			align-items: center;
		}

		.contact-content {
			grid-row: 2;
			grid-column: 1;
			width: 100%;
			text-align: right;
		}

		.contact-address {
			grid-column: 2 / -1;
		}
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 767px) {	
  
  #contact-form {

		.section-header {
			padding: 2rem;
			margin: 0;

			h1 { font-size: 1.3rem }
		}

		.contact-container {
			padding: 2rem;
			@include flex(column, center, center);
		}

		.contact-content {
			width: 100%;
			text-align: center;
			margin: 2rem 0 3rem;
		}

		.contact-address {
			text-align: center;
		}

		form {
			width: 100%;

			.form-box:first-child {
				@include flex(column, space-between, space-between);

				input {
					width: 100%;
					margin: .5rem 0;
				}
			}

			.regex-alert {
				font-size: .9rem;
				margin-top: .5rem;
			}
		}
	}
}