/*** Main header ***/
#main-header {
	color: $white;
	@include flex(row, space-between, center);
	padding: .5rem 1rem;
	font-family: 'Chilanka', cursive;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	transform: translateY(-20px);
	opacity: 0;
	transition: none;

	/** Logo **/
	.logo {
		@include font(1.5rem, $white, 500);
		position: relative;
		z-index: 1;
	}

	/** Navigation Links **/
	#header-desktop .main-list > li > a:hover, .active, #header-desktop .main-list > li:hover > a { color: $yellow-pale }

	#header-desktop {

		ul { @include flex(row, center, center) }

		li { position: relative }
		
		li a {
			padding: 1rem 1rem;
			margin: 0 1rem;
			transition: color 100ms ease-in-out;
			position: relative;
		}

		/* Animation for active link / section */
		li a::after {
			content: '';
			position: absolute;
			width: 80%;
			height: 2.3px;
			background: $yellow-pale;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%) scaleX(0);
			transition: transform 200ms ease-in-out;
		}

		li a.active::after {
			content: '';
			transform: translateX(-50%) scaleX(1);
		}		
	}

	#header-mobile { display: none }
}

header#main-header.header-intro,
header#main-header.header-fixed {
	transition: all 600ms ease-in-out;
	opacity: 1;
}

header#main-header.header-intro { transform: translateY(20px) }

header#main-header.header-fixed {
	transform: translateY(0);
	background: darken($green-eton, 15%);
}

/*** Responsive Header ***/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	#header-desktop { display: none }

	#main-header .logo { font-size: 1.2rem }

	header#main-header.header-fixed { transition: none }

	/* Mobile header */
	header#main-header #header-mobile {
		margin-right: 1rem;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flex(column, center, center);

		#show-mobile-menu, #hide-mobile-menu {
			position: absolute;
			right: 0;
			top: 0;
			width: 15%;
			@include flex(column, center, center);
			text-align: center;

			i { margin: 0 }
		}

		#show-mobile-menu { height: 100% }

		#hide-mobile-menu { height: 40% }

		.bar-menu-container {
			position: absolute;
			top: 0;
			left: 0;
			background: $green-eton;
			width: 100vw;
			height: 30vh;
			@include flex(column, center, center);
			transform: translateY(-120px);
			visibility: hidden;
			opacity: 0;
			transition: all 300ms ease-in-out;

			ul {
				font-size: .85rem;
				@include flex(row, space-between, center);

				li { margin: 0 1rem }
			}
		}
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	#header-desktop { display: none }

	#main-header .logo { font-size: 1rem }

	header#main-header.header-fixed { transition: none }

	/* Mobile header */
	header#main-header #header-mobile {
		margin-right: 1rem;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flex(column, center, center);

		#show-mobile-menu, #hide-mobile-menu {
			position: absolute;
			right: 0;
			top: 0;
			width: 15%;
			@include flex(column, center, center);
			text-align: center;

			i { margin: 0 }
		}

		#show-mobile-menu { height: 100% }

		#hide-mobile-menu { height: 19.5% }

		.bar-menu-container {
			position: absolute;
			top: 0;
			left: 0;
			background: $green-eton;
			width: 100vw;
			height: 30vh;
			@include flex(column, center, center);
			transform: translateY(-120px);
			visibility: hidden;
			opacity: 0;
			transition: all 300ms ease-in-out;

			ul {
				font-size: .85rem;
				text-align: center;

				li { margin: 1rem 0 }
			}
		}
	}
}

header#main-header #header-mobile .bar-menu-container.test {
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
	transition: all 300ms ease-in-out;
}

/*** Iphone SE - portrait ***/
@media screen and (max-width: 320px) {

	header#main-header #header-mobile .bar-menu-container ul li { margin: .8rem 0 }
	header#main-header #header-mobile .bar-menu-container { height: 40vh }
	
}