/*** Main header ***/
#main-header {
	color: $white;
	@include flex(row, space-between, center);
	padding: .5rem 1rem;
	font-family: 'Chilanka', cursive;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(20px);
	min-width: 100%;
	transition: background-color 600ms ease-in-out, transform 300ms ease-in-out;

	/** Logo **/
	.logo { @include font(1.5rem, $white, 500) }

	/** Navigation Links **/
	#header-desktop .main-list > li > a:hover, .active, #header-desktop .main-list > li:hover > a { color: $yellow-pale }

	#header-desktop {

		ul { @include flex(row, center, center) }

		li { position: relative }
		
		li a {
			padding: 1rem 1rem;
			margin: 0 1rem;
			transition: color 100ms ease-in-out;
			position: relative;
		}

		/* Animation for active link / section */
		li a::after {
			content: '';
			position: absolute;
			width: 80%;
			height: 2.3px;
			background: $yellow-pale;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%) scaleX(0);
			transition: transform 200ms ease-in-out;
		}

		li a.active::after {
			content: '';
			transform: translateX(-50%) scaleX(1);
		}		
	}

	#header-mobile { display: none }
}

header#main-header.header-fixed {
	transform: translateY(0);
	background: darken($green-eton, 15%);
}

/*** Responsive Header ***/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	/*** INDEX PAGE ***/
	/** Header **/
	#header-desktop { display: none }

	#main-header {
		opacity: 1;
		transform: translateY(0);
	}

	.header-intro { animation: none }
	.header-scrolled { animation: none }
	.header-fixed { animation: none }

	#main-header .logo { font-size: 1.2rem }

	/* Mobile header */
	#header-mobile {
		display: block;
		margin-right: 1rem;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		@include flex(column, center, center);

		#show-mobile-menu, #hide-mobile-menu {
			position: absolute;
			right: 10px;
			top: -2px;
			z-index: 2;
			width: 10%;
			height: 45px;
			@include flex(column, center, center);
			text-align: center;

			i { margin: 0 }
		}

		.bar-menu-container {
			position: absolute;
			top: 0;
			left: 0;
			background: $green-eton;
			width: 100vw;
			height: 60vh;
			z-index: -1;
			@include flex(column, center, center);
			transform: translateY(-150px);
			opacity: 0;
			transition: all 500ms ease-in-out;

			ul {
				font-size: .9rem;
				text-align: center;

				li { margin: 1rem 0 }
			}
		}
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	
	/*** INDEX PAGE ***/
	/** Header **/
	#main-header {
		opacity: 1;
		transform: translateY(0);
	}

	.header-intro { animation: none }

	#header-desktop { display: none }

	#main-header .logo { font-size: 1.2rem }

	/* Mobile header */
	#header-mobile {
		display: block;
		margin-right: 1rem;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		@include flex(column, center, center);

		#show-mobile-menu, #hide-mobile-menu {
			position: absolute;
			right: 10px;
			top: -2px;
			z-index: 2;
			width: 10%;
			height: 45px;
			@include flex(column, center, center);
			text-align: center;

			i { margin: 0 }
		}

		.bar-menu-container {
			position: absolute;
			top: 0;
			left: 0;
			background: $green-eton;
			width: 100vw;
			height: 30vh;
			z-index: -1;
			@include flex(column, center, center);
			transform: translateY(-150px);
			opacity: 0;
			transition: all 500ms ease-in-out;

			ul {
				font-size: .85rem;
				text-align: center;

				li { margin: 1rem 0 }
			}
		}
	}
}