/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

	/** Reset scroll btn **/
	#reset-btn {
		bottom: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
	}

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	/** Reset scroll btn **/
	#reset-btn {
		bottom: 20px;
		right: 20px;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	/** Reset scroll btn **/
	#reset-btn {
		bottom: 20px;
		right: 20px;
	}

}