#how-to-join {
	padding: 2rem 0 2rem;

	h2 { @include font(1.5rem, normal, 500) }

	.join-step-container {
		@include flex(row, space-between, stretch);
		padding: 2rem;
		counter-reset: step;

		.join-step-box {
			width: 30%;
			padding: .5rem .5rem;
			border: 1px solid #999;
			position: relative;
		
			&::before {
				counter-increment: step;
				content: counter(step);
				position: absolute;
				top: -25px;
				left: -25px;
				background: $green-eton;
				border-radius: 50%;
				width: 35px;
				height: 35px;
				@include flex(column, center, center);
				text-align: center;
				font-size: 1.3rem;
			}
		
			p { @include font(.9rem, inherit, inherit) }
		}
	}
}