// Colors
$yellow-main: #F2BB05;
$yellow-pale: #FCFDAF;
$blue-air: #80A1C1;
$green-eton: #82C4B0;
$white: #fff;
$times-red: #FF785A;
$pink: #e44c65;
$dark-primary: #2a2d36;

// Border
$border-radius-xs: 3px;

// Elements height
$header-height: 3.27rem;
$footer-height-desktop: 15.7rem;
$footer-height-mobile: 14.6rem;
$footer-height-mobile-xs: 24.2rem;
$footer-height-mobile-md: 44.6rem;
